// cia galime keisti default bootstrap parametrus
$blue: aliceblue !default;

$primary: $blue !default;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
  margin: 0;
}